.main__title {
    position: absolute;
    width: 287px;
    left: 114px;
    bottom: 601px;
}
.container__players {
    display: flex;
    justify-content: space-between;
    width: 488px;
    
}
.container__player--one {
    margin-left: 15px;
    text-align: center;
    background-color: darkorange;
    border-radius: 20px;
    padding: 0 5px;
  
}
.container__player--two {
    margin-right: 15px;
    text-align: center;
    background-color: deepskyblue;
    border-radius: 20px;
    padding: 0 5px;
}

.current__player{

    animation: wiggle 2s linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
      
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
     /* box-shadow: 10px 10px 5px rgb(238, 39, 39); */
      transform: rotateZ(0);
    }
  }

.image__player--one, .image__player--two {
    width: 100px;
}
.container__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 487px;
}
.card, .card--found {
    width:105px;
    height:110px;
    margin: 8px;
    perspective: 1000px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card:hover {
    -webkit-transform:scale(1.20); /* Safari et Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* Internet Explorer 9 */
    -o-transform:scale(1.20); /* Opera */
    transform:scale(1.20);
   
}


.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}
.card__inner--returned {
    transform: rotateY(180deg);
}
.card__inner--returned--find{
    display: none;
}

.card__front, .card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}
.card__front {
    background-image: url(../assets/images/MemOryCover.png);
    background-repeat: round;
}
.card__front:before {
    content: '';
    position: absolute;
}

.card__back {
    transform: rotateY(180deg);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.playerMessage {
    text-align: center;
    width: 50%;
    position: relative;
    top: 175px;
    position: relative;
    left: 170px;
}
.refresh__button{
    
    position: absolute;
    left: 350px;
    top: 430px;
    padding: 20px;
    border-radius: 18px;
    background-color: green;
    color: white;
    font-size: 32px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.refresh__button:hover{
    
    position: absolute;
    left: 350px;
    top: 430px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgb(57, 183, 57);
    color: white;
    font-size: 32px;
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
}

@media only screen and (min-width: 1400px){


 }

