.main__title {
     color: blueviolet;
     text-align:center;
}
.container__players {
    display:flex;
    justify-content: space-between;
}
.container__player--one {
    margin-left: 50px;
    text-align: center;
    background-color: darkorange;
    border-radius: 20px;
    padding: 0 5px;

}
.container__player--two {
    margin-right: 50px;
    text-align: center;
    background-color: deepskyblue;
    border-radius: 20px;
    padding: 0 5px;
}
.image__player--one, .image__player--two {
    width: 120px;
}
.container__card {
    display:flex;
    flex-wrap:wrap;
    margin:  20px auto;
}
.card, .card--found {
    width:105px;
    height:120px;
    margin: 10px;
    perspective: 1000px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card:hover {
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
   
}

.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}
.card__inner--returned {
    transform: rotateY(180deg);
}
.card__inner--returned--find{
    display: none;
}

.card__front, .card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}
.card__front {
    background-image: url(../assets/images/MemOryCover.png);
    background-repeat: round;
}
.card__front:before {
    content: '';
    position: absolute;
}

.card__back {
    transform: rotateY(180deg);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.playerMessage {
   text-align: center;
   width: 40%;
   margin: 0 auto;
   position: relative;
   top: 50px;
}
.refresh__button{
    
    position: absolute;
    left: 379px;
    padding: 20px;
    border-radius: 18px;
    background-color: green;
    color: white;
    font-size: 32px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.refresh__button:hover{
    
    position: absolute;
    left: 379px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgb(57, 183, 57);
    color: white;
    font-size: 32px;
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}