body{
    position: relative;
}
.header {
    width: 100%;
    height: 100px;
    position: absolute;
}

.main__title {
    width: 116px;
    height: 110px;
    position: relative;
    left: 92px;
    bottom: 28px;
}
.container__players {
    display: flex;
    justify-content: space-between;
    
}
.container__player--one {

    /* background-color: darkorange; */
    border-radius: 20px;
    padding: 0 5px; 
    text-align: center;
}
.container__player--two {

   /*  background-color: deepskyblue; */
    border-radius: 20px;
    padding: 0 5px; 
    text-align: center;
}

.current__player{

    animation: wiggle 2s linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
      
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
     /* box-shadow: 10px 10px 5px rgb(238, 39, 39); */
      transform: rotateZ(0);
    }
  }

.image__player--one, .image__player--two {
     width: 80px; 
}
.container__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 487px; */
}
.card, .card--found {
    width: 67px;
    height: 58px;
    margin: 2px;
    perspective: 1000px;  
}


.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}
.card__inner--returned {
    transform: rotateY(180deg);
}
.card__inner--returned--find{
    display: none;
}

.card__front, .card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}
.card__front {
    background-image: url(../assets/images/MemOryCover.png);
    background-repeat: round;
}
.card__front:before {
    content: '';
    position: absolute;
}

.card__back {
    transform: rotateY(180deg);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.playerMessage {
    text-align: center;
    width: 45%;
    position: relative;
    left: 87px;
    bottom: 55px;
}
.refresh__button{
    
    position: absolute;
    left: 350px;
    top: 430px;
    padding: 20px;
    border-radius: 18px;
    background-color: green;
    color: white;
    font-size: 32px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.refresh__button:hover{
    
    position: absolute;
    left: 350px;
    top: 430px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgb(57, 183, 57);
    color: white;
    font-size: 32px;
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
}

@media only screen and (min-width: 375px){

    .card, .card--found {
        width: 67px;
        height: 61px;
    }


    .playerMessage {

        left: 100px;
    }

    .main__title{
        width: 140px;
        left: 115px;
    }
 }

 @media only screen and (min-width: 425px){

    .card, .card--found {
        width:90px;
    }
    .main__title{
       
        left: 135px;
    }
    .playerMessage {

        width: 50%;
    }
 }
 @media only screen and (min-width: 768px){

    .card, .card--found {
        width: 98px;
        height: 88px;
        margin: 4px;
    }
    .main__title{
       
        left: 256px;
        width: 200px;
        height: 200px;
        bottom: 50px;
    }
    .playerMessage {
        position: absolute;
        width: 50%;
        top: 100px;
        left: 170px;
    }
    .image__player--one, .image__player--two {
        width: 140px; 
   }
 }

 @media only screen and (min-width: 1024px){

    .card, .card--found {

        width:115px;
        height: 115px;

    }
    .main__title{

        left: 405px;

    }
    .playerMessage {

        left: 258px;

    }
    .image__player--one, .image__player--two {

        width: 140px; 
   }
   .container__player--one {

    background-color: darkorange;
    border-radius: 20px;
    padding: 0 5px; 
   
}
.container__player--two {

    background-color: deepskyblue; 
    border-radius: 20px;
    padding: 0 5px; 
 }

 @media only screen and (min-width: 1440px){

    .card, .card--found {

        width:110px;
        height: 150px;
        margin: 6px;
    }
    .main__title{

        left: 600px;

    }
    .playerMessage {

        left: 360px;

    }
    .image__player--one, .image__player--two {

        width: 140px; 
   }
    .container__players {
        display: flex;
        justify-content: space-around;
    }
       
    }
 }